div.tipos-inmuebles {
    span.input-icon-addon {
        color: #000;
        justify-content: left;
        padding-left: 5px;
    }
    input.cantidad-tipo-inmueble {
        padding-left: 4.5rem !important;
        margin-bottom: 8px;
    }
}