.DateInput_input {
  padding: 6px 11px 9px;
  line-height: 20px;
}

.select-promociones {
  height: 39px !important;
  margin-right: 8px;
  max-width: 190px;
}

h3.number-total {
  position: absolute;
  right: 15px;
}

.alert.historical-alert {
  margin-bottom: 0;
}

.btn-historical {
  margin-top: 8px;
}