.dimmer.table-container {
    margin: 0 25px;
}

.table th,
.text-wrap table th,
table.table td {
    padding: 0.35rem 0.25rem;
}

.alert.alert-info.alert-no-result {
    margin-top: 1em;
}

i.select-icon {
    font-size: 1.5em;
    vertical-align: middle;
}

.form-control.custom-select.input-options {
    margin-right: 1em;
}