.dimmer.table-container {
    margin: 0 25px;
}

.table th,
.text-wrap table th,
table.table td {
    padding: 0.35rem 0.25rem;
}

.alert.alert-info.alert-no-result {
    margin-top: 1em;
}

i.select-icon {
    font-size: 1.5em;
    vertical-align: middle;
}

.fe-toggle-left,
.fe-toggle-right {
    font-size: 2em;
    &.danger {
        color: #cd201f;
    }
    &.success {
        color: #5eba00;
    }
}

.btn-list.text-right {
  .btn {
    margin-bottom: 0;
    &.btn-secundary {
      margin-left: 8px;
    }
  }
}