.notificacion-observaciones {
    div.small {
        font-style: italic;
        font-size: 75%;
    }
}

.modal-list {
    a {
        cursor: pointer;
    }
    a:hover {
        background: #EAEAEA;
    }
}

i.fe-alert-circle.disabled {
  opacity: .2;
}