.header {
    .header-brand {
        img {
            max-width: 110px;
            max-height: 40px;
        }
    }
}

.card-header {
    padding: 1.5rem 1.5rem;
}

i.fe.fe-award {
  font-size: 1.5em;
  font-weight: bold;
  &.success {
    color: #5eba00;
  }
  &.danger {
    color: #cd201f;
  }
}